body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    height: 100px;
    background: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

input[type="text"] {
    padding: 10px;
    border: 1px solid grey;
    width: 100%;
    margin-top: 10px;
    color: black;
}

input::-webkit-input-placeholder {
    color: black;
}
